@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

	:root {
		font-family: 'Ubuntu', sans-serif;
	}

	.dark {
		--color-main: rgb(255, 255, 255);
		--color-bg: rgb(255, 255, 255);
		--color-accent: hsl(0, 45%, 45%);
		--color-light: hsl(0, 45%, 60%);
		--color-border: black;

		--color-stark: #ffffff;
		--color-invert: #000000;

		--color-svg: ;
		--color-svg-1: invert();
	}

	.light {
		--color-main: rgb(107, 107, 107);
		--color-bg: rgb(36, 35, 46);
		--color-accent: hsl(0, 45%, 45%);
		--color-light: hsl(0, 45%, 60%);
		--color-border: white;

		--color-stark: #000000;
		--color-invert: #ffffff;

		--color-svg: invert();
		--color-svg-1: ;
	}

	fieldset {
		border: 0;
		/* padding: 0 !important; */
		margin: 0;
		min-width: 0;
		border: 2px solid black;
	}
	legend {
		padding:.1rem !important;
	}

	input[type='radio'] {
		appearance: none;
		width: 1rem;
		height: 1rem;
		border: black solid 1px;
		border-radius: 100%;
	}

	input[type='radio']:checked {
		background-color: var(--color-accent);
	}

	input {
		accent-color: var(--color-accent);
	}

	.my-shadow {
		box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.74);
	}

	.my-border {
		border: solid black 2px;
	}

	* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;
	}

	*:focus,
	*:active {
		outline: none;
	}

	.inv {
		filter: var(--color-svg);
	}

	.inv-1 {
		filter: var(--color-svg-1);
	}

	.no-move {
		user-drag: none;
		user-select: none;
	}

	.my-col-2 {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}

	.my-col-3 {
		grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
	}

	.hover-fade {
		opacity: 40%;
		transition: all 150ms ease-in-out;
	}

	.hover-fade:hover {
		opacity: 100%;
	}

	.top-calc {
		top: calc(100% + 0.25em);
	}

	.smooth-bg {
		transition: background-color 200ms ease-in-out;
	}

	.smooth-scale {
		transition: all 75ms ease-in-out;
	}

	/* ----------- Login section --------------- */

	.field::after {
		content: '';
		position: relative;
		display: block;
		height: 4px;
		width: 100%;
		background-color: #3a4972;
		transform: scaleX(0);
		transform-origin: 0%;
		transition: transform 500ms ease;
		top: 2px;
	}
	.input {
		outline: none;
		border: none;
		overflow: hidden;
		margin: 0;
		width: 100%;
		padding: 0.25rem 0;
		background: none;
		color: var(--color-invert);
		font-size: 1.2em;
		font-weight: bold;
		transition: border 500ms;
	}

	.field:focus-within {
		border-color: transparent;
	}

	.field:focus-within::after {
		transform: scaleX(1);
	}

	.label {
		color: var(--color-invert);
		position: absolute;
		transform: translateY(0.5rem);
		transform-origin: 0%;
		transition: transform 400ms;
	}

	.field:focus-within .label,
	.input:not(:placeholder-shown) + .label {
		transform: scale(0.8) translateY(-1.5rem);
	}

	.bot-dash {
		border-bottom: 2px dashed var(--color-invert);
	}
	.my-grid {
		grid-template-columns: repeat(4, 1fr);
		/* grid-template-rows: repeat(4, 1fr); */
	}
}
