@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

	.my-gradient {
		background: linear-gradient(45deg, hsl(221, 39%, 10%) 0%, hsl(215, 28%, 25%) 100%);
	}

	.field::after {
		content: "";
		position: relative;
		display: block;
		height: 4px;
		width: 100%;
		background-color: #3a4972;
		transform: scaleX(0);
		transform-origin: 0%;
		transition: transform 500ms ease;
		top: 2px;
	}
	.input {
		outline: none;
		border: none;
		overflow: hidden;
		margin: 0;
		width: 100%;
		padding: 0.25rem 0;
		background: none;
		color: white;
		font-size: 1.2em;
		font-weight: bold;
		transition: border 500ms;
	}
	.my-size {
		font-size: 8rem;
	}

	.my-col-2 {
		grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
	}

	.field:focus-within {
		border-color: transparent;
	}

	.field:focus-within::after {
		transform: scaleX(1);
	}

	.label {
		color: white;
		position: absolute;
		transform: translateY(0.5rem);
		transform-origin: 0%;
		transition: transform 400ms;
	}

	.field:focus-within .label,
	.input:not(:placeholder-shown) + .label {
		transform: scale(0.8) translateY(-1.5rem);
	}

	.my-shadow {
		box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.75);
	}

	.neo-700 {
		box-shadow: 0px 0px 28px 2px rgba(30, 41, 59, 0.8);
		background: linear-gradient(145deg, #3b4657, #323b49);
	}

	.neo-800 {
		background: linear-gradient(145deg, hsl(215, 28%, 20%), hsl(215, 28%, 15%));
		/* background: linear-gradient(145deg, #3b4657, #323b49); */
		/* box-shadow: 0px 0px 27px -1px rgba(31, 41, 55,0.75); */
	}
		.grid-cols-7 {
		grid-template-columns: repeat(7, minmax(0, 1fr));
	}

	.grid-rows-7 {
		grid-template-rows: repeat(7, minmax(0, 1fr));
	}
	.bot-dash {
		border-bottom: 2px dashed white;
	}

	.hoverDay:hover {
		color: white;
		border-radius: 99999px;
		background-color: #1e40af;
	}

	.hover-fade {
		opacity: 40%;
		transition: all 150ms ease-in-out;
	}

	.hover-fade:hover {
		opacity: 100%;
	}

	.top-calc {
		top: calc(100% + 0.25em);
	}



	.option-badge {
		display: flex;
		align-items: center;
		border: 0.05em solid #777;
		border-radius: 0.25em;
		padding: 0.15em 0.25em;
		gap: 0.25em;
		cursor: pointer;
		background: none;
		outline: none;
	}

	.option-badge:hover,
	.option-badge:focus {
		background-color: hsl(0, 100%, 90%);
		border-color: hsl(0, 100%, 50%);
	}

	.option-badge:hover > .remove-btn,
	.option-badge:focus > .remove-btn {
		color: hsl(0, 100%, 50%);
	}
	.idk {
		z-index: 5;
	}
	.die {
		z-index: 6;

	}

	.smooth {
		transition: all 75ms ease-in-out;
	}

	.option-badge > .remove-btn {
		font-size: 1.25em;
		color: #777;
	}

	.slide-in{
		/* animation: slide 0.2s ease-in-out forwards; */
		transform: translateX(0rem);
	}

	@keyframes slide {
		0% {
			transform: translateX(30rem);
		}

		100% {
			transform: translateX(0rem);
		}
	}
}
